* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    height: 120px;
}

.nav .menu a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav .menu a:hover {
    background: #555;
}

section {
    padding: 2rem;
}

article {
    flex: 1;
    min-width: 200px;
    margin: 1rem;
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.intro-background {
    background: url('../images/welcome.png') no-repeat center center/cover;
    color: #000000;
}

.intro-content {
    max-width: 600px;
    padding: 1rem;
    color: #fff;
    height: 400px;
}

.intro-content h1,
.intro-content button,
.intro-content p {
    margin-bottom: 0.5rem;
    background-color: rgba(0, 0, 0, 0.6); /* Ajusta el valor alpha según la opacidad deseada */
    padding: 0.5rem; /* Ajusta el relleno según tu diseño */
    color: #fff;
}

.intro-image, .social-icon {
    max-width: 100%;
    height: auto;
    display: block;
}

.features-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature-image {
    max-width: 120px;
    height: auto;
}

.features-container article {
    max-width: 300px;
}

.about-background {
    background: url('../images/people.png') no-repeat center center/cover;
    color: #000;
}

.about-container {
    max-width: 600px;
    padding: 2rem;
    height: 400px;
}

.about-container h2,
.about-container p {
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el valor alpha según la opacidad deseada */
    padding: 0.5rem; /* Ajusta el relleno según tu diseño */
    color: #fff;
}

.about-image {
    max-width: 400px;
    height: auto;
}

#cta-button {
    background: #006847; 
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#cta-button:hover {
    transform: scale(1.1);
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.social-media img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.social-media img:hover {
    opacity: 0.8;
}

/* Footer social icons */
.social-icon {
    transition: opacity 0.3s ease-in-out;
}

.social-icon:hover {
    opacity: 0.7;
}

.social-media-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media-header .social-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

/* Media Query for mobile devices */
@media (max-width: 600px) {
    .features-container {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
        text-align: center;
    }

    .nav .menu {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    
    .nav .menu a {
        display: block;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #444; /* Adds a visual separator */
    }
    
    .logo {
        height: 120px;
        margin-bottom: 0.5rem;
    }
    
    header {
        text-align: center;
    }

    .social-media img {
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }

    .social-media-header .social-icon {
        width: 20px;
        height: 20px;
    }

    /* Adjust padding and margins for smaller screens */
    section, .intro-content {
        padding: 1rem;
    }
}
